# Ignore these *anywhere* they occur

*.pyc						# compiled python files
__pycache__/				# compiled python folders
.idea/						# idea-based editor configs
.vs/						# visual studio projects
.vscode/					# visual studio code projects

# Python-specific ignores
/python/*.spec				# spec files
/python/dist/				# distribution directories
/python/.venv*/				# virtual environments
/python/**/.ipynb*/			# jupyter notebook folders
/python/**/.ipynb*			# jupyter notebook files

# C++ ignores
/cpp/*/Debug/				# debug builds
/cpp/*/Release/				# release builds
/cpp/*/RelWithDebInfo/
/cpp/**/*.vcxproj.filters
/cpp/**/*.vcxproj.user
/cpp/**/*.vsp				# performance profiles

# C# ignores
/csharp/**/obj/
/csharp/**/bin/

# Project-specific ignores

