# Ignore these *anywhere* they occur

*.pyc
__pycache__/
.idea/
.vs/
.vscode/
target/
**/target/

# Python-specific ignores
/python/*.spec
/python/dist/
/python/**/.ipynb*/
/python/**/.ipynb*

# C++ ignores
/cpp/*/Debug/
/cpp/*/Release/
/cpp/*/RelWithDebInfo/
/cpp/**/*.vcxproj.filters
/cpp/**/*.vcxproj.user
/cpp/**/*.vsp

# C# ignores
/csharp/**/obj/
/csharp/**/bin/

# Project-specific ignores
/golang/**/go.sum
/golang/**/*.exe

