__pycache__
*.pyc
.idea
.vs
.vscode
python/*.spec
python/dist
python/.venv*
python/**/.ipynb*
cpp/*/Debug
cpp/*/Release
cpp/**/*.vcxproj.filters
cpp/**/*.vcxproj.user
cpp/**/*.vsp
csharp/**/obj
csharp/**/bin

